body {
    background-color: white;
    color: black;
    font-family: Arial, "Times New Roman", "Tahoma";
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
.form_field_label{
    padding-top: 10px;
    font-size: 14px;
    color: #373737;
}
.form_input_invalid{
    border:solid 1px red;
}
.error_label{
    font-size: 9px;
    color: red;
}
.dateBoxPopup{
    background: #fff;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #373737;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel,
.datePickerMonth,
.datePickerPreviousButton,
.datePickerNextButton{
    padding: 5px;
    font-size: 12px;
    color: #373737;
}
.datePickerDayIsHighlighted,
.datePickerPreviousButton-up-hovering,
.datePickerNextButton-up-hovering{
    cursor: pointer;
    text-decoration: underline;
}
.datePickerMonth{
    text-align: center;
}
.datePickerDays{
    text-align: center;
    width: 100%;
}
.gwt-DatePicker td{
    text-align: center;
}
.datePickerDayIsFiller{
    color: #ccc;
}

.gwt-SuggestBoxPopup{
    background: #fff;
    border: solid 1px #6f716e;
    border-top: none;
    padding: 3px;
}
.gwt-SuggestBoxPopup .item:hover{
    cursor: pointer;
    background: #ddd;
}

.radio_button_item label{
    padding-top: 10px;
    font-size: 14px;
    color: #000;
    font-style: italic;
}
.cell_label{
    color: #373737;
    font-size: 14px;
    margin-right: 5px;
    padding: 7px 10px 7px 0;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
}
.cell_label.table_head{
    color: #fff;
}
.data_table_title_panel{
    background: #6f716e;
    padding: 0 10px;
    margin-bottom: 6px;
}
.data_table_row{
    padding: 0 10px;
}
.custom_button{
    margin: 0 10px 0 0;
    padding: 2px 7px 4px 7px;
    cursor: pointer;
    border-radius: 5px;
    background: #6f716e;
    border: solid 1px #6f716e;
    color: #fff;
    font-size: 12px;
}
.custom_button:hover{
    background: #373737;
}
#insurance_policy{
    margin: 20px;
}
.drivers_table_title{
    font-weight: bold;
    color: #4b4a45;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 10px;
}
.search_field_title{
    font-style: italic;
    color: #4b4a45;
    font-size: 14px;
    margin-bottom: 3px;
}
.driver_form_title{
    color: #4b4a45;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    padding-top: 15px;
    border-top: solid 1px #373737;
}
.empty_search_result{
    font-size: 12px;
    font-style: italic;
}